body {
	font-family: "Verdana", "Arial";
	background-color: #400000;
	color: #FFF;
	margin: 0;
}

@-moz-keyframes exitanim {
	/*0% { background-position: 0px 32px; }
	0.01% { background-position: -256px 32px; }
	12.5% { background-position: -256px 32px; }
	12.51% { background-position: -224px 32px; }
	25% { background-position: -224px 32px; }
	25.01% { background-position: -192px 32px; }
	37.5% { background-position: -192px 32px; }
	37.51% { background-position: -160px 32px; }
	50% { background-position: -160px 32px; }
	50.01% { background-position: -128px 32px; }
	62.5% { background-position: -128px 32px; }
	62.51% { background-position: -96px 32px; }
	75% { background-position: -96px 32px; }
	75.01% { background-position: -64px 32px; }
	87.5% { background-position:  -64px 32px; }
	87.51% { background-position: -32px 32px; }
	99.99% { background-position: -32px 32px; }
	100% { background-position: 0px 32px; }*/
	0% { background-position: 0px 0; }
	0.01% { background-position: -32px 0; }
	12.5% { background-position: -32px 0; }
	12.51% { background-position: -64px 0; }
	25% { background-position: -64px 0; }
	25.01% { background-position: -96px 0; }
	37.5% { background-position: -96px 0; }
	37.51% { background-position: -128px 0; }
	50% { background-position: -128px 0; }
	50.01% { background-position: -160px 0; }
	62.5% { background-position: -160px 0; }
	62.51% { background-position: -192px 0; }
	75% { background-position: -192px 0; }
	75.01% { background-position: -224px 0; }
	87.5% { background-position: -224px 0; }
	87.51% { background-position: -256px 0; }
	99.99% { background-position: -256px 0; }
	100% { background-position: 0px 0; }
}

@-webkit-keyframes exitanim {
	0% { background-position: 0px 0; }
	0.01% { background-position: -32px 0; }
	12.5% { background-position: -32px 0; }
	12.51% { background-position: -64px 0; }
	25% { background-position: -64px 0; }
	25.01% { background-position: -96px 0; }
	37.5% { background-position: -96px 0; }
	37.51% { background-position: -128px 0; }
	50% { background-position: -128px 0; }
	50.01% { background-position: -160px 0; }
	62.5% { background-position: -160px 0; }
	62.51% { background-position: -192px 0; }
	75% { background-position: -192px 0; }
	75.01% { background-position: -224px 0; }
	87.5% { background-position: -224px 0; }
	87.51% { background-position: -256px 0; }
	99.99% { background-position: -256px 0; }
	100% { background-position: 0px 0; }
}


#exit {
	height: 32px;
	width: 32px;
	background: #000;
	background: url("../i/exit1.png") 0px 32px;
	-webkit-animation: exitanim 1.3s infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation: exitanim 1.3s infinite;
	-moz-animation-timing-function: linear;
}

#hud {
	background-color: #000;
	background: url("../i/hud_bot.png") no-repeat left, url("../i/hud_bg2.png") repeat left;
	bottom: 0;
	display: block;
	left: 0;
	position: fixed;
	width: 100%;
	height: 47px;
	z-index: 10000;
}
#space1, #space2, #space3, #space4{
	position: absolute;
	width: 32px;
	height: 30px;
	bottom: 8px;
}
#space4 {
	left: 158px;
}
#space3 {
	left: 110px;
}
#space2 {
	left: 62px;
}
#space1 {
	background: url("../i/d.png") -732px 100%;
	left: 14px;
}

#container {
	position: relative;
	/* background-color: rgba(255,255,255, 0.7); */
	/*background-color: rgba(0, 0, 0, 1);*/
	height: 800px;
	z-index: 1000;
}

/* FLOORS */
.D0 { /* DOOR */
	background: url("../i/d.png") -1252px 120%, url("../i/d.png") -900px 100%;
}
.E0 { /* EXIT */
	background: url("../i/d.png") -964px 100%;
}
.E1 { /* ELECTICITY */
	background: url("../i/d.png") -932px 100%;
}
.F0 { /* FLOOR */
	background: url("../i/d.png") -900px 100%;
}
.G0 { /* GLUE */
	background: url("../i/d.png") -996px 100%;
}
.I0 { /* ICE */
	background: url("../i/d.png") -1028px 100%;
}
.O0 { /* OPENER */
	background: url("../i/d.png") -1060px 100%;
}
.T0 { /* TELEPORT IN FLOOR */
	background: url("../i/d.png") -1092px 100%;
}
.T1 { /* TRAP OPEN */
	background: url("../i/d.png") -1124px 100%;
}
.T5 { /* TRAP CLOSED */
	background: url("../i/d.png") -900px 100%; /* TODO: trap closed not floor */
}
.T2 { /* TWISTER */
	background: url("../i/d.png") -1156px 100%;
}
.W8 { /* WATER */
	background: url("../i/d.png") -1188px 100%;
}
.W9 { /* DEEP WATER */
	background: url("../i/d.png") -1220px 100%;
}
/* BLOCKS */
.B1 { /* BLOCK WEIGHT 1 */
	background: url("../i/d.png") 0 100%, url("../i/d.png") -900px 100%;
}
.B2 { /* BLOCK WEIGHT 2 */
	background: url("../i/d.png") -32px 100%, url("../i/d.png") -900px 100%;
}
.B3 { /* BLOCK WEIGHT 3 */
	background: url("../i/d.png") -64px 100%, url("../i/d.png") -900px 100%;
}
.M1 { /* BLOCK WEIGHT 1 MAGNETIZED */
	background: url("../i/d.png") -96px 100%, url("../i/d.png") -900px 100%;
}
.M2 { /* BLOCK WEIGHT 2 MAGNETIZED */
	background: url("../i/d.png") -128px 100%, url("../i/d.png") -900px 100%;
}
.M3 { /* BLOCK WEIGHT 1 MAGNETIZED */
	background: url("../i/d.png") -160px 100%, url("../i/d.png") -900px 100%;
}
.M4 { /* BLOCK WEIGHT 1 WHEEL HORIZONTAL MAGNETIZED */
	background: url("../i/d.png") -192px 100%, url("../i/d.png") -900px 100%;
}
.M5 { /* BLOCK WEIGHT 2 WHEEL HORIZONTAL MAGNETIZED */
	background: url("../i/d.png") -224px 100%, url("../i/d.png") -900px 100%;
}
.M6 { /* BLOCK WEIGHT 3 WHEEL HORIZONTAL MAGNETIZED */
	background: url("../i/d.png") -256px 100%, url("../i/d.png") -900px 100%;
}
.M7 { /* BLOCK WEIGHT 1 WHEEL VERTICAL MAGNETIZED */
	background: url("../i/d.png") -288px 100%, url("../i/d.png") -900px 100%;
}
.M8 { /* BLOCK WEIGHT 2 WHEEL VERTICAL MAGNETIZED */
	background: url("../i/d.png") -320px 100%, url("../i/d.png") -900px 100%;
}
.M9 { /* BLOCK WEIGHT 3 WHEEL VERTICAL MAGNETIZED */
	background: url("../i/d.png") -352px 100%, url("../i/d.png") -900px 100%;
}
.S0 { /* SLIDE */
	background: url("../i/d.png") -384px 100%, url("../i/d.png") -900px 100%;
}
.W1 { /* BLOCK WEIGHT 1 WHEEL HORIZONTAL */
	background: url("../i/d.png") -416px 100%, url("../i/d.png") -900px 100%;
}
.W2 { /* BLOCK WEIGHT 2 WHEEL HORIZONTAL */
	background: url("../i/d.png") -448px 100%, url("../i/d.png") -900px 100%;
}
.W3 { /* BLOCK WEIGHT 3 WHEEL HORIZONTAL */
	background: url("../i/d.png") -480px 100%, url("../i/d.png") -900px 100%;
}
.W4 { /* BLOCK WEIGHT 1 WHEEL VERTICAL */
	background: url("../i/d.png") -512px 100%, url("../i/d.png") -900px 100%;
}
.W5 { /* BLOCK WEIGHT 2 WHEEL VERTICAL */
	background: url("../i/d.png") -544px 100%, url("../i/d.png") -900px 100%;
}
.W6 { /* BLOCK WEIGHT 3 WHEEL VERTICAL */
	background: url("../i/d.png") -576px 100%, url("../i/d.png") -900px 100%;
}
.B4 { /* WALL BLOCK BLOWABLE */
	background: url("../i/d.png") -608px 100%;
}
/* OBJECTS */
.B9 { /* BOMB */
	background: url("../i/d.png") -1300px 100%, url("../i/d.png") -900px 100%;
}
.E2 { /* ELECTOMAGNET HORIZONTAL */
	background: url("../i/d.png") -1332px 100%, url("../i/d.png") -900px 100%;
}
.E3 { /* ELECTOMAGNET VERTICAL */
	background: url("../i/d.png") -1364px 100%, url("../i/d.png") -900px 100%;
}
.P0 { /* PLAYER */
	background: url("../i/d.png") -1396px 100%, url("../i/d.png") -900px 100%;
}
.P4 { /* PLAYER ON EXIT */
	background: url("../i/d.png") -1396px 100%, url("../i/d.png") -964px 100%;
}
.R0 { /* RADIOACTIVE */
	background: url("../i/d.png") -1428px 100%, url("../i/d.png") -900px 100%;
}
.S1 { /* SNOW */
	background: url("../i/d.png") -1460px 100%, url("../i/d.png") -900px 100%;
}
.T3 { /* TELEPORT IN BLOCK */
	background: url("../i/d.png") -1492px 100%, url("../i/d.png") -900px 100%;
}
.T4 { /* TELEPORT OUT */
	background: url("../i/d.png") -1524px 100%, url("../i/d.png") -900px 100%;
}
.W0 { /* WALL BLOCK */
	background: url("../i/d.png") -1556px 100%;
}
/* EXTRAS */
.C0 { /* CLOCK */
	background: url("../i/d.png") -700px 100%, url("../i/d.png") -900px 100%;
}
.H0 { /* HEART */
	background: url("../i/d.png") -732px 100%, url("../i/d.png") -900px 100%;
}
.M0 { /* MAGNETIZER */
	background: url("../i/d.png") -764px 100%, url("../i/d.png") -900px 100%;
}
.P1 { /* PULLER (T) */
	background: url("../i/d.png") -796px 100%, url("../i/d.png") -900px 100%;
}
.P2 { /* PUSHER (P) */
	background: url("../i/d.png") -828px 100%, url("../i/d.png") -900px 100%;
}
.W7 { /* WHEEL */
	background: url("../i/d.png") -860px 100%, url("../i/d.png") -900px 100%;
}

#renderBoard {
	position: absolute;
	top: 150px;
	left: 100px;
	z-index: -100;
}
#renderBoard div {
	position: absolute;
	width: 30px;
	height: 57px;
	background-repeat: no-repeat;
}
/* background ARTIFACTS */
.dots {
	position: absolute;
	width: 65px;
	height: 58px;
	background: url("../i/d.png") no-repeat -2400px 100%;
	z-index: 100;
}
.stone {
	position: absolute;
	width: 70px;
	height: 65px;
	background: url("../i/d.png") no-repeat -2570px 100%;
}
.hole {
	position: absolute;
	width: 95px;
	height: 96px;
	background: url("../i/d.png") no-repeat -2470px 100%;
}
/* FIXME: THIS SHOULD BE GENERATED */
#dots1 {
	top: 130px;
	left: 10px;
}
#dots2 {
	top: 300px;
	left: 710px;
}
#stone1 {
	top: 805px;
	left: 345px;
}
#stone2 {
	top: 523px;
	left: 5px;
}
#stone3 {
	top: 561px;
	left: 871px;
}
#hole1 {
	top: 123px;
	left: 789px;
}
#hole2 {
	top: 220px;
	left: -50px;
}

.bottomLeftCorner {
	background: url("../i/d.png") -1600px 100%; /* sic! */
}
.bottomLeftRightCorner {
	background: url("../i/d.png") -1600px 100% /* sic! */, url("../i/d.png") -1632px 100%;
}
.topRightCornerBottomLeftCorner {
	background: url("../i/d.png") -1600px 100% /* sic! */, url("../i/d.png") -1696px 100%;
}
.bottomLeftCornerWallRight {
	background: url("../i/d.png") -1600px 100% /* sic! */, url("../i/d.png") -2144px 100%;
}
.bottomRightCorner {
	background: url("../i/d.png") -1632px 100%;
}
.topLeftCornerBottomRightCorner {
	background: url("../i/d.png") -1632px 100%, url("../i/d.png") -1664px 100%;
}
.bottomRightCornerWallLeft {
	background: url("../i/d.png") -1632px 100%, url("../i/d.png") -2016px 100%;
}
.topLeftCorner {
	background: url("../i/d.png") -1664px 100%;
}
.topLeftRightCorner {
	background: url("../i/d.png") -1664px 100%, url("../i/d.png") -1696px 100%;
}
.topLeftRightCornerWallBottom {
	background: url("../i/d.png") -1664px 100%, url("../i/d.png") -1696px 100%, url("../i/d.png") -1728px 100%;
}
.topLeftCornerWallBottom {
	background: url("../i/d.png") -1664px 100%, url("../i/d.png") -1728px 100%;
}
.topLeftCornerWallBottomRight {
	background: url("../i/d.png") -1664px 100%, url("../i/d.png") -1952px 100%;
}
.topLeftCornerWallRight {
	background: url("../i/d.png") -1664px 100%, url("../i/d.png") -2144px 100%;
}
.topRightCorner {
	background: url("../i/d.png") -1696px 100%;
}
.topRightCornerWallBottom {
	background: url("../i/d.png") -1696px 100%, url("../i/d.png") -1728px 100%;
}
.topRightCornerWallBottomLeft {
	background: url("../i/d.png") -1696px 100%, url("../i/d.png") -1760px 100%;
}
.topRightCornerWallLeft {
	background: url("../i/d.png") -1696px 100%, url("../i/d.png") -2016px 100%;
}
.wallBottom {
	background: url("../i/d.png") -1728px 100%;
}
.wallBottomLeft {
	background: url("../i/d.png") -1760px 100%;
}
.wallBottomLeftCornerWallRight {
	background: url("../i/d.png") -1792px 100%;
}
.wallBottomWallLeftRightCorner {
	background: url("../i/d.png") -1824px 100%;
}
.wallBottomWallLeftWallRight {
	background: url("../i/d.png") -1856px 100%;
}
.wallBottomLeftCornerRightCorner {
	background: url("../i/d.png") -1888px 100%;
}
.wallBottomLeftWallLeft {
	background: url("../i/d.png") -1920px 100%;	
}
.wallBottomRight {
	background: url("../i/d.png") -1952px 100%;
}
.wallBottomRightWallRight {
	background: url("../i/d.png") -1984px 100%;
}
.wallLeft {
	background: url("../i/d.png") -2016px 100%;
}
.wallLeftRight {
	background: url("../i/d.png") -2016px 100%, url("../i/d.png") -2144px 100%;
}
.wallLeftBottom {
	background: url("../i/d.png") -2048px 100%;
}
.wallLeftTop {
	background: url("../i/d.png") -2080px 100%;
}
.wallLeftTopBottom {
	background: url("../i/d.png") -2112px 100%;
}
.wallRight {
	background: url("../i/d.png") -2144px 100%;
}
.wallRightBottom {
	background: url("../i/d.png") -2176px 100%;
}
.wallRightTop {
	background: url("../i/d.png") -2208px 100%;
}
.wallRightTopBottom {
	background: url("../i/d.png") -2240px 100%;
}
.wallTop {
	background: url("../i/d.png") -2272px 100%;
}
.wallTopBottom {
	background: url("../i/d.png") -2272px 100%, url("../i/d.png") -1728px 100%;
}
.wallTopLeft {
	background: url("../i/d.png") -2304px 100%, url("../i/d.png") -900px 100%;
}
.wallTopLeftRight {
	background: url("../i/d.png") -2336px 100%;
}
.wallTopRight {
	background: url("../i/d.png") -2368px 100%, url("../i/d.png") -900px 100%;
}
.wallBlock {
	background: url("../i/d.png") -1556px 100%;
}