body {
	font-family: "Verdana", "Arial";
	background-color: #400000;
	color: #FFF;
	margin: 0;
	height: 100%;
}

body.theme2 {
	background-color: #00A2A2;
}
body.theme3 {
	background-color: #923051;
}
body.theme4 {
	background-color: #617141;
}

#help {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 200px;
	background-color: rgba(255, 255, 255, 0.5);
	font-family: "Courier";
	font-size: 12px;
	color: white;
	padding: 5px;
}

.theme2 #help > a {
	color: #297A7A;
}
.theme2 #help > .title {
	background: #297A7A;
}
.theme3 #help > a {
	color: #923051;
}
.theme3 #help > .title {
	background: #923051;
}
.theme4 #help > a {
	color: #45512F;
}
.theme4 #help > .title {
	background: #45512F;
}

#help > a {
	color: #400000;
	font-weight: bold;
	font-size: 130%;
}
#help > .title {
	background: #400000;
	color: white;
	font-weight: bold;
	text-align: center;
}

#info.error {
	background: red;
}

#info {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100px;
	background: green;
	color: #FFF;
	font-family: "Courier";
	display: none;
}

#hud {
	background-color: #000;
	background: url("../i/hud_bot.png") no-repeat left, url("../i/hud_bg2.png") repeat left;
	bottom: 0;
	display: block;
	left: 0;
	position: fixed;
	width: 100%;
	height: 47px;
	z-index: 10000;
}

#extra0, #extra1, #extra2, #extra3{
	position: absolute;
	width: 32px;
	height: 30px;
	bottom: 6px;
	border: 2px transparent solid;
}
#energy {
	bottom: 23px;
	left: 500px;
	background: black;
	border: orange;
	width: 100px;
	height: 10px;
	position: absolute;
}
#time {
	bottom: 8px;
	left: 599px;
	background: black;
	border: orange;
	width: 1px;
	height: 10px;
	position: absolute;
}
#extra0.active , #extra1.active , #extra2.active , #extra3.active {
	-webkit-animation: extra-active .4s steps(2, end) infinite;
	-moz-animation: extra-active .4s steps(2, end) infinite;
}

#extra3 {
	left: 156px;
}
#extra2 {
	left: 108px;
}
#extra1 {
	left: 60px;
}
#extra0{
	left: 12px;
}

.D0, .E1 , .F0, .G0, .I0, .O0, .T0, .T1, .T2, .W8, .W9, .WB, .B1, .B2, .B3, 
.M1, .M2, .M3, .M4, .M5, .M6, .M7, .M8, .M9, .S1, .W1, .W2, .W3, .W4, .W5, .W6 ,
.B9 , .B0, .E2, .E3, .P0, .R0, .S4, .T3, .T4, .W0, .C0, .H0, .M0, .P1, .P2, .W7,
.bottomLeftCorner , .bottomLeftRightCorner , .topRightCornerBottomLeftCorner , .bottomLeftCornerWallRight , 
.bottomRightCorner , .topLeftCornerBottomRightCorner , .bottomRightCornerWallLeft , .topLeftCorner , .topLeftRightCorner , 
.topLeftRightCornerWallBottom , .topLeftCornerWallBottom , .topLeftCornerWallBottomRight , .topLeftCornerWallRight , 
.topRightCorner , .topRightCornerWallBottom , .topRightCornerWallBottomLeft , .topRightCornerWallLeft , .wallBottom , 
.wallBottomLeft , .wallBottomLeftCornerWallRight , .wallBottomWallLeftRightCorner , .wallBottomWallLeftWallRight , 
.wallBottomLeftCornerRightCorner , .wallBottomLeftWallLeft , .wallBottomRight, .wallBottomRightWallRight , .wallLeft , 
.wallLeftRight , .wallLeftBottom , .wallLeftTop , .wallLeftTopBottom , .wallRight , .wallRightBottom , .wallRightTop , 
.wallRightTopBottom , .wallTop , .wallTopBottom , .wallTopLeft , .wallTopLeftRight , .wallTopRight , .wallBlock  {
	background-image: url("../i/f.png"), url("../i/f.png"), url("../i/f.png");
}

.theme2 .D0, .theme2 .E1 , .theme2 .F0, .theme2 .G0, .theme2 .I0, .theme2 .O0, .theme2 .T0, .theme2 .T1, .theme2 .T2, .theme2 .W8, .theme2 .W9, .theme2 .WB, .theme2 .B1, .theme2 .B2, .theme2 .B3, 
.theme2 .M1, .theme2 .M2, .theme2 .M3, .theme2 .M4, .theme2 .M5, .theme2 .M6, .theme2 .M7, .theme2 .M8, .theme2 .M9, .theme2 .S1, .theme2 .W1, .theme2 .W2, .theme2 .W3, .theme2 .W4, .theme2 .W5, .theme2 .W6 ,
.theme2 .B9 , .theme2 .B0, .theme2 .E2, .theme2 .E3, .theme2 .P0, .theme2 .R0, .theme2 .S4, .theme2 .T3, .theme2 .T4, .theme2 .W0, .theme2 .C0, .theme2 .H0, .theme2 .M0, .theme2 .P1, .theme2 .P2, .theme2 .W7,
.theme2 .bottomLeftCorner , .theme2 .bottomLeftRightCorner , .theme2 .topRightCornerBottomLeftCorner , .theme2 .bottomLeftCornerWallRight , 
.theme2 .bottomRightCorner , .theme2 .topLeftCornerBottomRightCorner , .theme2 .bottomRightCornerWallLeft , .theme2 .topLeftCorner , .theme2 .topLeftRightCorner , 
.theme2 .topLeftRightCornerWallBottom , .theme2 .topLeftCornerWallBottom , .theme2 .topLeftCornerWallBottomRight , .theme2 .topLeftCornerWallRight , 
.theme2 .topRightCorner , .theme2 .topRightCornerWallBottom , .theme2 .topRightCornerWallBottomLeft , .theme2 .topRightCornerWallLeft , .theme2 .wallBottom , 
.theme2 .wallBottomLeft , .theme2 .wallBottomLeftCornerWallRight , .theme2 .wallBottomWallLeftRightCorner , .theme2 .wallBottomWallLeftWallRight , 
.theme2 .wallBottomLeftCornerRightCorner , .theme2 .wallBottomLeftWallLeft , .theme2 .wallBottomRight, .theme2 .wallBottomRightWallRight , .theme2 .wallLeft , 
.theme2 .wallLeftRight , .theme2 .wallLeftBottom , .theme2 .wallLeftTop , .theme2 .wallLeftTopBottom , .theme2 .wallRight , .theme2 .wallRightBottom , .theme2 .wallRightTop , 
.theme2 .wallRightTopBottom , .theme2 .wallTop , .theme2 .wallTopBottom , .theme2 .wallTopLeft , .theme2 .wallTopLeftRight , .theme2 .wallTopRight , .theme2 .wallBlock  {
	background-image: url("../i/e.png"), url("../i/e.png"), url("../i/e.png");
}

.theme3 .D0, .theme3 .E1 , .theme3 .F0, .theme3 .G0, .theme3 .I0, .theme3 .O0, .theme3 .T0, .theme3 .T1, .theme3 .T2, .theme3 .W8, .theme3 .W9, .theme3 .WB, .theme3 .B1, .theme3 .B2, .theme3 .B3, 
.theme3 .M1, .theme3 .M2, .theme3 .M3, .theme3 .M4, .theme3 .M5, .theme3 .M6, .theme3 .M7, .theme3 .M8, .theme3 .M9, .theme3 .S1, .theme3 .W1, .theme3 .W2, .theme3 .W3, .theme3 .W4, .theme3 .W5, .theme3 .W6 ,
.theme3 .B9 , .theme3 .B0, .theme3 .E2, .theme3 .E3, .theme3 .P0, .theme3 .R0, .theme3 .S4, .theme3 .T3, .theme3 .T4, .theme3 .W0, .theme3 .C0, .theme3 .H0, .theme3 .M0, .theme3 .P1, .theme3 .P2, .theme3 .W7,
.theme3 .bottomLeftCorner , .theme3 .bottomLeftRightCorner , .theme3 .topRightCornerBottomLeftCorner , .theme3 .bottomLeftCornerWallRight , 
.theme3 .bottomRightCorner , .theme3 .topLeftCornerBottomRightCorner , .theme3 .bottomRightCornerWallLeft , .theme3 .topLeftCorner , .theme3 .topLeftRightCorner , 
.theme3 .topLeftRightCornerWallBottom , .theme3 .topLeftCornerWallBottom , .theme3 .topLeftCornerWallBottomRight , .theme3 .topLeftCornerWallRight , 
.theme3 .topRightCorner , .theme3 .topRightCornerWallBottom , .theme3 .topRightCornerWallBottomLeft , .theme3 .topRightCornerWallLeft , .theme3 .wallBottom , 
.theme3 .wallBottomLeft , .theme3 .wallBottomLeftCornerWallRight , .theme3 .wallBottomWallLeftRightCorner , .theme3 .wallBottomWallLeftWallRight , 
.theme3 .wallBottomLeftCornerRightCorner , .theme3 .wallBottomLeftWallLeft , .theme3 .wallBottomRight, .theme3 .wallBottomRightWallRight , .theme3 .wallLeft , 
.theme3 .wallLeftRight , .theme3 .wallLeftBottom , .theme3 .wallLeftTop , .theme3 .wallLeftTopBottom , .theme3 .wallRight , .theme3 .wallRightBottom , .theme3 .wallRightTop , 
.theme3 .wallRightTopBottom , .theme3 .wallTop , .theme3 .wallTopBottom , .theme3 .wallTopLeft , .theme3 .wallTopLeftRight , .theme3 .wallTopRight , .theme3 .wallBlock  {
	background-image: url("../i/3.png"), url("../i/3.png"), url("../i/3.png");
}

.theme4 .D0, .theme4 .E1 , .theme4 .F0, .theme4 .G0, .theme4 .I0, .theme4 .O0, .theme4 .T0, .theme4 .T1, .theme4 .T2, .theme4 .W8, .theme4 .W9, .theme4 .WB, .theme4 .B1, .theme4 .B2, .theme4 .B3, 
.theme4 .M1, .theme4 .M2, .theme4 .M3, .theme4 .M4, .theme4 .M5, .theme4 .M6, .theme4 .M7, .theme4 .M8, .theme4 .M9, .theme4 .S1, .theme4 .W1, .theme4 .W2, .theme4 .W3, .theme4 .W4, .theme4 .W5, .theme4 .W6 ,
.theme4 .B9 , .theme4 .B0, .theme4 .E2, .theme4 .E3, .theme4 .P0, .theme4 .R0, .theme4 .S4, .theme4 .T3, .theme4 .T4, .theme4 .W0, .theme4 .C0, .theme4 .H0, .theme4 .M0, .theme4 .P1, .theme4 .P2, .theme4 .W7,
.theme4 .bottomLeftCorner , .theme4 .bottomLeftRightCorner , .theme4 .topRightCornerBottomLeftCorner , .theme4 .bottomLeftCornerWallRight , 
.theme4 .bottomRightCorner , .theme4 .topLeftCornerBottomRightCorner , .theme4 .bottomRightCornerWallLeft , .theme4 .topLeftCorner , .theme4 .topLeftRightCorner , 
.theme4 .topLeftRightCornerWallBottom , .theme4 .topLeftCornerWallBottom , .theme4 .topLeftCornerWallBottomRight , .theme4 .topLeftCornerWallRight , 
.theme4 .topRightCorner , .theme4 .topRightCornerWallBottom , .theme4 .topRightCornerWallBottomLeft , .theme4 .topRightCornerWallLeft , .theme4 .wallBottom , 
.theme4 .wallBottomLeft , .theme4 .wallBottomLeftCornerWallRight , .theme4 .wallBottomWallLeftRightCorner , .theme4 .wallBottomWallLeftWallRight , 
.theme4 .wallBottomLeftCornerRightCorner , .theme4 .wallBottomLeftWallLeft , .theme4 .wallBottomRight, .theme4 .wallBottomRightWallRight , .theme4 .wallLeft , 
.theme4 .wallLeftRight , .theme4 .wallLeftBottom , .theme4 .wallLeftTop , .theme4 .wallLeftTopBottom , .theme4 .wallRight , .theme4 .wallRightBottom , .theme4 .wallRightTop , 
.theme4 .wallRightTopBottom , .theme4 .wallTop , .theme4 .wallTopBottom , .theme4 .wallTopLeft , .theme4 .wallTopLeftRight , .theme4 .wallTopRight , .theme4 .wallBlock  {
	background-image: url("../i/4.png"), url("../i/4.png"), url("../i/4.png");
}

@-moz-keyframes extra-active {
	from { border-color: orange; }
	to { border-color: transparent; }
}
@-webkit-keyframes extra-active {
	from { border-color: orange; }
	to { border-color: transparent; }
}

.D0 { /* DOOR */
	background-position: -1252px 120%, -900px 100%;
}

/* FLOORS */
@-moz-keyframes exit {
	from { background-position: 0px 100%; }
	to { background-position: -256px 100%; }
}
@-webkit-keyframes exit {
	from { background-position: 0px 100%; }
	to { background-position: -256px 100%; }
}
.theme4 .E0 { 
	background: url("../i/exit4.png") 0px 100%;
}
.E0 { /* EXIT */
	background: url("../i/exit2.png") 0px 100%;
	-webkit-animation: exit 1.3s steps(8, end) infinite;
	-moz-animation: exit 1.3s steps(8, end) infinite;
}
.E1 { /* ELECTICITY */
	background-position: -932px 0;
}
.F0 { /* FLOOR */
	background-position: -900px 0;
}
.F1 { /* FLOOR AFTER BOMB */
	background: url("../i/afterbomb.png") 0px 100%;
}
.G0 { /* GLUE */
	background-position: -996px 0;
}
.I0 { /* ICE */
	background-position: -1028px 0;
}
.O0 { /* OPENER */
	background-position: -1060px 0;
}
.T0 { /* TELEPORT IN FLOOR */
	background-position: -1092px 0;
}
.T1 { /* TRAP OPEN */
	background-position: -1124px 0;
}
@-moz-keyframes trapclose {
	from { background-position: 0 100%; }
	to { background-position: -192px 100%; }
}
@-webkit-keyframes trapclose {
	from { background-position: 0 100%; }
	to { background-position: -192px 100%; }
}
.theme4 .T5 {
	background: url("../i/trap4.png") -192px 100%;
}
.T5 { /* TRAP CLOSED */
	background: url("../i/trap1.png") -192px 100%;
	-webkit-animation: trapclose 0.3s steps(6, end) 1;
	-moz-animation: trapclose 0.3s steps(6, end) 1;
}
.T2 { /* TWISTER */
	background-position: -1156px 0;
}
.W8 { /* WATER */
	background-position: -1220px 0;
}
.W9 { /* DEEP WATER */
	background-position: -1188px 0;
}
.WB {
	background-position: 0 -25px, -1220px 0;
}
.WB::before {
	position: absolute;
	content: "";
	background: rgba(0,168,168, 0.5);
	width: 30px;
	height: 32px;
	top: 25px;
}
/* BLOCKS */
.B1 { /* BLOCK WEIGHT 1 */
	background-position: 0 0;
}
.B2 { /* BLOCK WEIGHT 2 */
	background-position: -32px 0;
}
.B3 { /* BLOCK WEIGHT 3 */
	background-position: -64px 0;
}
.M1 { /* BLOCK WEIGHT 1 MAGNETIZED */
	background-position: -96px 0;
}
.M2 { /* BLOCK WEIGHT 2 MAGNETIZED */
	background-position: -128px 0;
}
.M3 { /* BLOCK WEIGHT 1 MAGNETIZED */
	background-position: -160px 0;
}
.M4 { /* BLOCK WEIGHT 1 WHEEL HORIZONTAL MAGNETIZED */
	background-position: -192px 0;
}
.M5 { /* BLOCK WEIGHT 2 WHEEL HORIZONTAL MAGNETIZED */
	background-position: -224px 0;
}
.M6 { /* BLOCK WEIGHT 3 WHEEL HORIZONTAL MAGNETIZED */
	background-position: -256px 0;
}
.M7 { /* BLOCK WEIGHT 1 WHEEL VERTICAL MAGNETIZED */
	background-position: -288px 0;
}
.M8 { /* BLOCK WEIGHT 2 WHEEL VERTICAL MAGNETIZED */
	background-position: -320px 0;
}
.M9 { /* BLOCK WEIGHT 3 WHEEL VERTICAL MAGNETIZED */
	background-position: -352px 0;
}
.S1 { /* SLIDE */
	background-position: -384px 0;
}
.W1 { /* BLOCK WEIGHT 1 WHEEL HORIZONTAL */
	background-position: -416px 0;
}
.W2 { /* BLOCK WEIGHT 2 WHEEL HORIZONTAL */
	background-position: -448px 0;
}
.W3 { /* BLOCK WEIGHT 3 WHEEL HORIZONTAL */
	background-position: -480px 0;
}
.W4 { /* BLOCK WEIGHT 1 WHEEL VERTICAL */
	background-position: -512px 0;
}
.W5 { /* BLOCK WEIGHT 2 WHEEL VERTICAL */
	background-position: -544px 0;
}
.W6 { /* BLOCK WEIGHT 3 WHEEL VERTICAL */
	background-position: -576px 0;
}
.B9 { /* WALL BLOCK BLOWABLE */
	background-position: -608px 0;
}
/* OBJECTS */
.B0 { /* BOMB */
	background-position: -1300px 0;
}
.E2 { /* ELECTOMAGNET HORIZONTAL */
	background-position: -1332px 0;
}
.E3 { /* ELECTOMAGNET VERTICAL */
	background-position: -1364px 0;
}
.P0 { /* PLAYER */
	background-position: -1396px 0;
}

@-moz-keyframes player-down {
	from { background-position: 0px 0px; }
	to { background-position: -224px 0px; }
}

@-webkit-keyframes player-down {
	from { background-position: 0px 0px; }
	to { background-position: -224px 0px; }
}

@-moz-keyframes player-up {
	from { background-position: 0px -64px; }
	to { background-position: -224px -64px; }
}

@-webkit-keyframes player-up {
	from { background-position: 0px -64px; }
	to { background-position: -224px -64px; }
}

.P0.up {
	background: url("../i/dude.png") -32px 100%;
}
.P0.left { 
	background: url("../i/dude.png") -2px 100%;
}
.P0.right {
	background: url("../i/dude.png") -64px 100%;
}
.R0 { /* RADIOACTIVE */
	background-position: -1428px 0;
}
.S4 { /* SNOW */
	background-position: -1460px 0;
}
.T3 { /* TELEPORT IN - BLOCK */
	background-position: -1492px 0;
}
.T4 { /* TELEPORT OUT */
	background-position: -1524px 0;
}
.W0 { /* WALL BLOCK */
	background-position: -1556px 0;
}
/* EXTRAS */
.C0 { /* CLOCK */
	background-position: -700px 0;
}
.H0 { /* HEART */
	background-position: -731px 0;
}
.M0 { /* MAGNETIZER */
	background-position: -764px 0;
}
.P1 { /* PULLER (T) */
	background-position: -796px 0;
}
.P2 { /* PUSHER (P) */
	background-position: -828px 0;
}
.W7 { /* WHEEL */
	background-position: -860px 0;
}

.item, .player {
	-webkit-transition: left .4s/* .1s*/, top .4s/* .1s*//*, z-index .5s*/;
	-moz-transition: left .3s/* .1s*/, top .3s/* .1s*//*, z-index .5s*/;
	-o-transition: left .3s/* .1s*/, top .3s/* .1s*//*, z-index .5s*/;
}

#renderBoard {
	position: absolute;
	top: 50px;
	left: 100px;
	z-index: -100;
}
#renderBoard div {
	position: absolute;
	width: 32px;
	height: 57px;
	background-repeat: no-repeat;
}
/* background ARTIFACTS */
.dots {
	position: absolute;
	width: 65px;
	height: 58px;
	background: url("../i/e.png") no-repeat -2400px 100%;
	z-index: 100;
}
.stone {
	position: absolute;
	width: 70px;
	height: 65px;
	background: url("../i/e.png") no-repeat -2570px 100%;
}
.hole {
	position: absolute;
	width: 95px;
	height: 96px;
	background: url("../i/e.png") no-repeat -2470px 100%;
}
/* FIXME: THIS SHOULD BE GENERATED */
#dots1 {
	top: 130px;
	left: 10px;
}
#dots2 {
	top: 300px;
	left: 710px;
}
#stone1 {
	top: 405px;
	left: 745px;
}
#stone2 {
	top: 523px;
	left: 5px;
}
#stone3 {
	top: 61px;
	left: 1071px;
}
#hole1 {
	top: 123px;
	left: 789px;
}
#hole2 {
	top: 220px;
	left: -50px;
}

.bottomLeftCorner {
	background-position: -1600px 0;
}
.bottomLeftRightCorner {
	background-position: -1600px 0, -1632px 0;
}
.topRightCornerBottomLeftCorner {
	background-position: -1600px 0, -1696px 0;
}
.bottomLeftCornerWallRight {
	background-position: -1600px 0, -2144px 0;
}
.bottomRightCorner {
	background-position: -1632px 0;
}
.topLeftCornerBottomRightCorner {
	background-position: -1632px 0, -1664px 0;
}
.bottomRightCornerWallLeft {
	background-position: -1632px 0, -2016px 0;
}
.topLeftCorner {
	background-position: -1664px 0;
}
.topLeftRightCorner {
	background-position: -1664px 0, -1696px 0;
}
.topLeftRightCornerWallBottom {
	background-position: -1664px 0, -1696px 0, -1728px 0;
}
.topLeftCornerWallBottom {
	background-position: -1664px 0, -1728px 0;
}
.topLeftCornerWallBottomRight {
	background-position: -1664px 0, -1952px 0;
}
.topLeftCornerWallRight {
	background-position: -1664px 0, -2144px 0;
}
.topRightCorner {
	background-position: -1696px 0;
}
.topRightCornerWallBottom {
	background-position: -1696px 0, -1728px 0;
}
.topRightCornerWallBottomLeft {
	background-position: -1696px 0, -1760px 0;
}
.topRightCornerWallLeft {
	background-position: -1696px 0, -2016px 0;
}
.wallBottom {
	background-position: -1728px 0;
}
.wallBottomLeft {
	background-position: -1760px 0;
}
.wallBottomLeftCornerWallRight {
	background-position: -1792px 0;
}
.wallBottomWallLeftRightCorner {
	background-position: -1824px 0;
}
.wallBottomWallLeftWallRight {
	background-position: -1856px 0;
}
.wallBottomLeftCornerRightCorner {
	background-position: -1888px 0;
}
.wallBottomLeftWallLeft {
	background-position: -1920px 0;	
}
.wallBottomRight {
	background-position: -1952px 0;
}
.wallBottomRightWallRight {
	background-position: -1984px 0;
}
.wallLeft {
	background-position: -2016px 0;
}
.wallLeftRight {
	background-position: -2016px 0, -2144px 0;
}
.wallLeftBottom {
	background-position: -2048px 0;
}
.wallLeftTop {
	background-position: -2080px 0;
}
.wallLeftTopBottom {
	background-position: -2112px 0;
}
.wallRight {
	background-position: -2144px 0;
}
.wallRightBottom {
	background-position: -2176px 0;
}
.wallRightTop {
	background-position: -2208px 0;
}
.wallRightTopBottom {
	background-position: -2240px 0;
}
.wallTop {
	background-position: -2272px 0;
}
.wallTopBottom {
	background-position: -2272px 0, -1728px 0;
}
.wallTopLeft {
	background-position: -2304px 0, -900px 0;
}
.wallTopLeftRight {
	background-position: -2336px 0;
}
.wallTopRight {
	background-position: -2368px 0, -900px 0;
}
.wallBlock {
	background-position: -1556px 0;
}